<ion-header>
  <ion-toolbar color="success">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title>What type of account do you need?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              Account Type
            </ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Savings Account</ion-label>
            <ion-radio value="savings" slot="start"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Fixed Account</ion-label>
            <ion-radio value="fixed" slot="start"></ion-radio>
          </ion-item>
          </ion-radio-group>
      </ion-card-content>
  </ion-card>
</ion-content>
